# Variables de entorno para Stagehand con Google Gemini y Groq

# Google Gemini
GEMINI_BASE_URL=https://api.google.com/gemini
GEMINI_API_KEY=AQ.Ab8RN6LbDrjrCcKt6SalfxIPCTKKOABSSZyaSVZygD5fZI84bA
GEMINI_MODEL=gemini-1.5

# Groq
GROQ_BASE_URL=https://api.groq.com
GROQ_API_KEY=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
GROQ_MODEL=groq-1.0

# Configuración general
HEADLESS=true
